<html>
  <head>
    <link rel='stylesheet' href='/css/style.css'/>
    <style></style>
  </head>
  <body>
    <div id="banner">
      <img src="/images/banner.jpg" />
    </div>
    <div id='navbar'>
% map.keys.map(&:last).uniq.each_with_index do |item, i|
  <div class="item item<%=i.succ%>">    
    <a href="<%= item %>?name=nald"><%= item %></a>
  </div>
% end    
    </div>
    <div id='container'>
    <%= yield %>
    </div>
  </body>
</html>
