<html>
  <head>
    <link rel='stylesheet' href='/css/style.css'/>
    <title><%=locals[:title]%></title>
  </head>
  <body>
    <div id="header">
      <div id='navbar'>
        <% map['GET'].reject{|h| h[:path_info].match?(/:/)}.each do |item| %>
        <div class="navitem">
          <a href="<%= item[:path_info] %>"><%= item[:path_info] %></a>
        </div>
        <% end %>
      </div>
    </div>
    <div id='container'>
      <%= yield %>
    </div>
    <div id='footer'>
      footer
    </div>
  </body>
</html>
