<html>
  <head>
    <title><%=locals%></title>
    <link rel='stylesheet' href='/css/style.css'/>
    <style></style>
  </head>
  <body>
    <div id="header">
      <div id='navbar'>
% map.keys.map(&:last).reject{|e| e.match(/\./)}.uniq.each_with_index do |item, i|
        <div class="navitem">    
          <a href="<%= item %>?name=nald"><%= item %></a>
       </div>
% end    
      </div>
    </div>
    <div id='container'>
    <%= yield %>
    </div>
    <div id='footer'>
    footer
    </div>
  </body>
</html>
