<html>
  <head>
    <title><%= locals[:title]  %></title>
    <link rel='stylesheet' href='/css/style.css'/>
    <style></style>
  </head>
  <body>
    <div id="header">
      <div id='navbar', class='item'>
         <div class="navitem">
          <% Pam::map['GET'].reject{|e| e[:path_info].match(/:/)}.each do |item| %>
              <a href="<%= item[:path_info] %>"><%= item[:path_info] %></a>
          <% end %>
        </div>
      </div>
    </div>
    <div id='container'>
      <%= yield %>
    </div>
    <div id='footer'>
      Free as in Free Beer!
    </div>
  </body>
</html>
