/* GLOBAL STYLES */ * 
{ 
box-sizing: border-box; 
} 

body { 
font-family: 'Fira Sans', sans-serif; 
margin: 0; 
}

h1, h2, h3, h4, h5{
  color: teal;
}
h2{
  font-size: 16px;
}
a{
 color: orange; 
 text-decoration: none;
}
#banner img{
  /* display: flex; */
  width: 99vw;
}
#container{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  width: 90vw;
  padding-left: 2rem;
  padding-right: 2rem;
}

.item{
  flex: 10%;
  padding: 1em;
}

.item a{
  flex: 20px; 
  text-decoration: none;
}
.item:hover{
  -moz-transform: scale(1.025);
}

.active{
  background: blue;
  color: white;
}

#navbar{
  display: flex; 
  flex-direction: row; 
  justify-content: space-between;
  flex-wrap: wrap;
  padding-left: 80vw; 
}

#navbar>div.item{
  margin-left: 2px;
  padding:0;
  /* border: 1px solid #87b5ff; */
  border-radius: 3px; 
  font-size: 1em;
  /* background-color: #f5ca3c; */
}

#navbar div a{ 
  flex: 1;
  text-decoration: none; 
  color: black;
} 

