/* GLOBAL STYLES */ * 
{ 
box-sizing: border-box; 
} 

body { 
font-family: 'Montserrat','Fira Sans', sans-serif; 
margin: 0; 
}

h1, h2, h3, h4, h5{
  background: red;
  color: white;
  padding-left: 2px;
}
h2{
  font-size: 16px;
}
a{
 color: orange; 
 text-decoration: none;
}
#header, #footer{
  display: flex;
  width: 99vw;
  height: 8vh; 
  background: url(/img/header-bg.jpg) center top; 
}
#banner img{
  display: flex; 
  width: 99vw;
  height: 8vh; 
}
#container{
  background: url(/img/main-bg.jpg) center top;   
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  width: 99vw;
  padding-left: 2rem;
  padding-right: 2rem;
  min-height: calc(100vh - 16vh); 
}

.item{
  flex: 1;
  padding: 1em;
  border: 1px solid silver;
    /* <------------- required !!! */
  /* overflow-x: auto; */
}

.item a{
  flex: 20px; 
  text-decoration: none;
}
.item:hover{
  -moz-transform: scale(1.005);
}

.active{
  background: blue;
  color: white;
}

#navbar{
  display: flex; 
  flex-direction: row; 
  /* justify-content: space-between; */
  justify-content: center; 
  padding-left: 10px;

  /* padding-left: 60vw; */
}

#navbar>div.item{
  margin-left: 2px;
  padding:0;
  flex-grow: 2;
  border-radius: 3px; 
  font-size: 1em;
  /* background-color: #f5ca3c; */
}

#navbar div a{ 
  flex: 1;
  text-decoration: none; 
  color: black;
} 

